
/* Navbar */


.navbar{
    
    background-color:#151061;
    
    
}

.navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
}
.navbar ul li a:hover{
    
    border-radius: 20px;
    background-color: white;
    color: #151061;
    
}
#home-btn{
    color: white;
}
.nav-link{
    margin: 5px;
}



/* Footer */
#footer{
    background-color: #151061;
    color: white;
}
#footer li{
    color: white;
}
#footer div a{
    color: white;
}
#footer #facebook:hover{
    
    border-radius: 5px;
    background-color: white;
    
    color: #151061;
}
