/* Body */
*{
    margin: 0;
    padding: 0;
}


/* Location */
#map{
    margin-top: 15px;
    width: 100%;
}
.map{
    margin-top: 20px;
    margin-bottom: 20px;
}
#location-header{
    margin-top: 30px;
    
}
/* Contact Us */

#header{
    justify-content: center;
    text-align: center;
    margin-top: 292px;
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: -15px;

}
.info{
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.info li{
    font-size: 20px;
}
div ul li{
    color: black;
    
}
div ul li h2{
    font-size: 1.2rem;
}

/* utilities */

