/* Location */
#map{
    margin-top: 20px;
    width: 100%;
}
.map{
    margin-top: 20px;
    margin-bottom: 20px;
}
#location-header{
    margin-top: 30px;
}
/* Contact Us */

#header{
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    font-size: 30px;

}
.info{
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.info li{
    font-size: 25px;
}
/* utilities */


body{
    background-color: teal;
}