*{
    margin: 0;
    padding: 0;
}
#home{
    
    margin-top: -86px;
}
#header{
    text-align: center;
  
   padding: 20px;
    margin-top: 50px;
}
header h1{
    font-size: 50px;
    color:#151061;
}
.card-img-top{
    height: 225px;
    width: auto;
}
.carousel img{
    height: 672px;
    width: 100%;
}


