*{
    margin: 0;
    padding: 0;
}
#service{
    margin-top: -35px;
    
}
#header{
    text-align: center;
  
   padding: 20px;
    margin-top: 50px;
}
#header h5{
    font-size: 50px;
    color: #151061;
}
.card-img-top{
    height: 225px;
    width: auto;
}